main {
    display: flex;
    flex-wrap: wrap;   
    padding-block: 24px;
    gap: 24px;

    /* border: 1px solid red; */
    
}


main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}